@font-face{
  font-family: "nanum_lt";
  src:url(../font/TTF/nanum_lt.ttf)
}
@font-face{
  font-family: "nanum_rg";
  src:url(../font/TTF/nanum_rg.ttf)
}
@font-face {
  font-family: "nanum_bd";
  src: url(../font/TTF/nanum_bd.ttf);
}
@font-face{
  font-family: "nanum_eb";
  src:url(../font/TTF/nanum_eb.ttf)
}
@font-face{
  font-family: "nanum_hv";
  src:url(../font/TTF/nanum_hv.ttf)
}

body {
  position: relative;
  font-family: "nanum_rg";
}

h1{
  font-size: 48px;
  font-weight: 800;
  font-family: "nanum_eb";
}

h3 {
  font-size: 28px;
  font-weight: 500;
  font-family: "nanum_bd";
}

h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: "nanum_bd";
}

p {
  font-size: 18px;
  line-height: 150%;
}

span {
  font-size: 18px;
}
