@import url(./reset.css);
@import url(./font.css);

* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  font-style: normal;
}

header {
  width: 100%;
  height: 138px;
  border-bottom: 2px solid #000;
}

.header_i {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
}

.mobile-menu-toggle .line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  border-radius: 9999px;
  transition: all 0.3s;
}

.mobile-menu-toggle .line1 {
  transform: translate(-50%, -50%) translateY(-6px);
}

.mobile-menu-toggle .line3 {
  transform: translate(-50%, -50%) translateY(6px);
}

.header_i .logo {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
}

.header_i .logo .l_img img {
  width: 76px;
  height: 34px;
}

.header_i .logo .l_toggle {
  width: 155px;
  height: 48px;
  border-radius: 3012px;
  background-color: rgb(246, 246, 246);
  border: 1px solid rgb(234, 234, 234);
  display: flex;
  align-items: center;
  padding: 2px;
  text-align: center;
  justify-content: space-between;
  font-size: 16px;
}

.header_i .logo .l_toggle .mall {
  width: 83px;
  border-radius: 3012px;
  font-weight: 600;
  height: 44px;
  line-height: 44px;
  background-color: rgb(227, 25, 55);
  color: #fff;
  cursor: pointer;
}

.header_i .logo .l_toggle .app {
  width: 60px;
  margin-left: 4px;
  color: rgb(181, 181, 181);
  font-weight: 500;
  cursor: pointer;
}

.header_i .logo .l_toggle .app .text {
  position: relative;
  line-height: 44px;
}

.header_i .logo .l_toggle .app .text div {
  position: absolute;
  right: 3px;
  top: 13px;
}

.header_i nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.header_i nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: clamp(20px, 4.7vw, 60px);
}

.header_i nav ul li a {
  font-size: 18px;
  font-weight: 700;
  line-height: 1em;
  cursor: pointer;
}

.header_i .info {
  width: 308px;
  height: 100%;
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  flex-shrink: 0;
}

.header_i .info .info_i {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0px 15px;
  height: 100%;
  gap: 7.5px;
}

.header_i .info .info_i .l_top {
  display: flex;
  flex-direction: row;
  gap: 17.5px;
  align-items: center;
}

.header_i .info .info_i .l_top .lt_text {
  display: flex;
  flex-direction: row;
  font-size: 17px;
  font-weight: 700;
  line-height: 1em;
  text-decoration: none;
  text-align: start;
  gap: 10px;
  height: 17px;
}

.header_i .info .info_i .l_top .lt_text .line {
  width: 1px;
  background-color: rgb(221, 221, 221);
}

.header_i .info .info_i .l_top .lt_icon {
  display: flex;
  flex-direction: row;
  gap: 12.5px;
}

.header_i .info .info_i .l_top .lt_icon .icon {
  position: relative;
}

.header_i .info .info_i .l_top .lt_icon .i_1 img {
  width: 27px;
  height: 27px;
  flex-shrink: 0
}

.header_i .info .info_i .l_top .lt_icon .i_2 img {
  width: 24px;
  height: 24px;
  flex-shrink: 0
}

.header_i .info .info_i .l_top .lt_icon .i_3 img {
  width: 26px;
  height: 26px;
  flex-shrink: 0
}

.header_i .info .info_i .l_top .lt_icon .icon span {
  border-radius: 50%;
  background-color: rgb(185, 44, 53);
  width: 18px;
  height: 18px;
  position: absolute;
  transform: translate(50%, -40%);
  right: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 11px;
  line-height: 1em;
  border: 1px solid #fff;
  z-index: 1;
}

.header_i .info .info_i .l_bot {
  display: block;
  background-color: rgb(241, 242, 246);
  border-radius: 10px;
  padding: 5px 0px;
  width: 100%;
  max-width: 250px;
  position: relative;
  padding-left: 7.5px;
  padding-right: 10px;
}

.header_i .info .info_i .l_bot a {
  display: flex;
  flex-direction: row;
}

.header_i .info .info_i .l_bot a span {
  font-weight: 600;
  line-height: 1em;
  font-size: 12px;
}

.header_i .info .info_i .l_bot a .i_1 {
  margin-right: 5px;
}

.header_i .info .info_i .l_bot a .lb_icon img {
  width: 12px;
  height: 12px;
}

.header_i .info .info_i .l_bot a .i_2 {
  position: absolute;
  right: 5px;
  top: 11px;
  transform: translate(0%, -50%);
}

.header_i .info .info_i .l_bot a .i_2 img {
  width: 16px;
  height: 16px;
}

.popup_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10000;
}

.popup_overlay .popup {
  width: 655px;
  border-radius: 10px;
  overflow: hidden;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px 0px;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: calc(-40px + 100vw);
  max-width: 650px;
}

.popup_overlay .popup .pop_footer {
  height: 48px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 26, 24);
}

.popup_overlay .popup .pop_footer .pf_left {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  padding: 15px;
}

.popup_overlay .popup .pop_footer .pf_left input[type="checkbox"] {
  display: none;
}

.popup_overlay .popup .pop_footer .pf_left .check {
  width: 18px;
  height: 18px;
  background: rgb(217, 217, 217);
  border: 2px solid rgb(217, 217, 217);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_overlay .popup .pop_footer .pf_left input[type="checkbox"]:checked+.check {
  background-color: rgb(185, 44, 53);
  /* 빨간색 */
  border: 2px solid rgb(185, 44, 53);
}

.popup_overlay .popup .pop_footer .pf_left .check img {
  width: 10px;
  height: 10px;
}

.popup_overlay .popup .pop_footer .pf_left span {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 1em;
}

.popup_overlay .popup .pop_footer .pf_right {
  height: 100%;
  padding: 15px;
  cursor: pointer;
}

.popup_overlay .popup .pop_footer .pf_right span {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  line-height: 1em;
}

aside {
  width: 300px;
  height: 100vh;
  background-color: #fff;
  z-index: 9999;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;

  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

aside.active {
  transform: translateX(0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay.active {
  display: block;
  opacity: 1;
}

aside .aside_i {
  width: 100%;
  padding: 0 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

aside .aside_i .ai_top {
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

aside .aside_i .ai_top .t_left {
  display: block;
  background-color: rgb(241, 242, 246);
  border-radius: 10px;
  padding: 5px 0px;
  width: 225px;
  height: 22px;
  position: relative;
  padding: 0 7.5px;
  align-content: center;
  ;
  margin-left: 5px;
}

aside .aside_i .ai_top .t_left a {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

aside .aside_i .ai_top .t_left a span {
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
}

aside .aside_i .ai_top .close {
  margin-right: 6px;
}

aside .aside_i .ai_mid {
  height: 102px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

aside .aside_i .ai_mid a {
  flex: 1;
  height: 100%;
  text-align: center;
  align-content: center;
  justify-items: center;
  padding: 10px 0px 12.5px;
  border-radius: 7px;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(255, 255, 255);
}

aside .aside_i .ai_mid a div {
  width: 36px;
  height: 36px;
}

aside .aside_i .ai_mid a div img {
  width: 36px;
  height: 36px;
}

aside .aside_i .ai_mid a h2 {
  margin-top: 5px;
  font-size: 19px;
  font-weight: 800;
  line-height: 1em;
  color: rgb(40, 29, 25);
}

aside .aside_i .ai_mid a span {
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
  color: rgb(142, 147, 173);
}

aside .aside_i .ai_bot {
  margin-top: 17.5px;
  flex: 1;
  overflow-y: scroll;
  margin-right: -15px;
  padding-right: 10px;
}

aside .aside_i .ai_bot .aib_box {
  border-top: 1px solid rgb(221, 221, 221);
  padding: 17.5px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

aside .aside_i .ai_bot .aib_box a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

aside .aside_i .ai_bot .aib_box a img {
  width: 22px;
  height: 22px;
}

aside .aside_i .ai_bot .aib_box a span {
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
}

aside .aside_i .ai_bot .login {
  border-top: 1px solid rgb(221, 221, 221);
  padding-top: 17.5px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: rgb(119, 119, 119);
  font-size: 13px;
  font-weight: 600;
  line-height: 1em;
}

aside .footer {
  height: 122px;
  padding: 15px;
  background-color: rgb(185, 44, 53);
  align-content: center;
  flex-shrink: 0;
}

aside .footer .footer_i {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

aside .footer .footer_i .t {
  display: flex;
  flex-direction: row;
  gap: 12.5px;
  align-items: center;
}

aside .footer .footer_i .t .icon {
  width: 45px;
  height: 45px;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

aside .footer .footer_i .t .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

aside .footer .footer_i .t .text span {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  line-height: 1em;
}

aside .footer .footer_i .t .text span:last-of-type {
  font-size: 20px;
  font-weight: 700;
}

aside .footer .footer_i>span {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
  opacity: 0.5;
}

main {
  width: 100%;
}

main .main_i {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 15px auto;
}

main .main_i .m_left {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  flex: 1;
  min-width: 0;
  gap: 25px;
}

main .main_i .m_left .ml_top {
  width: 100%;
}

.slide picture {
  display: block;
  width: 100%;
  height: 100%;
}

.slide picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .main_i .line {
  display: block;
  overflow: hidden;
  pointer-events: none;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background-color: rgb(221, 221, 221);
  opacity: 1;
}

main .main_i .ml_mid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  width: 100%;
}

main .main_i .ml_mid .itembox {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid rgb(229, 232, 239);
  background-color: rgb(239, 240, 244);
  border-radius: 7px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  overflow: hidden;
  transition: 0.2s;
}

main .main_i .ml_mid .itembox:hover {
  box-shadow: rgb(185, 44, 53) 0px 0px 0px 2px;
  transform: translateY(-5px);
}


main .main_i .ml_mid .itembox .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 8px;
}

main .main_i .ml_mid .itembox .item p {
  font-size: 15px;
  font-weight: 600;
  line-height: 1em;
}

main .main_i .ml_mid .itembox .item figure {
  width: auto;
  flex: 0 1 auto;
  min-height: 0;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

main .main_i .ml_mid .itembox .item figure img {
  width: 100%;
  max-width: 61px;
  height: auto;
  max-height: 100%;
  display: block;
  object-fit: contain;
}

main .main_i .m_left .ml_bot>span {
  font-size: 15px;
  font-weight: 600;
  line-height: 1em;
}

main .main_i .m_left .ml_bot .event {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

main .main_i .m_left .ml_bot .event .el_box,
.er_box {
  flex: 1;
  display: block;
  min-width: 0;
}

main .main_i .m_left .ml_bot .event .box {
  text-align: center;
}

main .main_i .m_left .ml_bot .event .box figure {
  width: 100%;
  height: auto;
  overflow: hidden;
}


main .main_i .m_left .ml_bot .event .box figure img {
  width: 100%;
  height: 100%;
  max-height: 224px;
  object-fit: cover;
  transition: 0.3s;
}

main .main_i .m_left .ml_bot .event .box:hover figure img {
  transform: scale(1.1);
}

main .main_i .m_left .ml_bot .event .box p {
  margin-top: 12.5px;
  margin-bottom: 2px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1em;
}

main .main_i .m_left .ml_bot .event .box span {
  font-size: 12px;
  font-weight: 500;
  line-height: 1em;
  color: #777;
}

main .main_i .m_right {
  width: 308px;
  flex-shrink: 0;
}

main .main_i .m_right .mr_top {
  width: 100%;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(239, 240, 244);
}

main .main_i .m_right .mr_top .mrt_top {
  display: flex;
  flex-direction: row;
  padding: 15px;
  gap: 15px;
}

main .main_i .m_right .mr_top .mrt_top .left,
.mrt_top .right {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
  border-radius: 7px;
  box-shadow: rgba(197, 200, 211, 0.2) 0px 1px 5px 0px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

main .main_i .m_right .mr_top .mrt_top .left:hover {
  box-shadow: rgb(185, 44, 53) 0px 0px 0px 3px;
}

main .main_i .m_right .mr_top .mrt_top .right:hover {
  box-shadow: rgb(185, 44, 53) 0px 0px 0px 3px;
}

main .main_i .m_right .mr_top .mrt_top a .img1 {
  width: 52px;
  height: 47px;
}

main .main_i .m_right .mr_top .mrt_top a .img2 {
  width: 47px;
  height: 47px;
}

main .main_i .m_right .mr_top .mrt_top a h2 {
  margin-top: 12px;
  font-size: 26px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1em;
  letter-spacing: normal;
  text-align: center;
  color: rgb(40, 29, 25);
}

main .main_i .m_right .mr_top .mrt_top a span {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  font-stretch: normal;
  font-style: normal;
  line-height: 1em;
  letter-spacing: normal;
  text-align: center;
  color: rgb(142, 147, 173);
}

.m_right .mr_top .mrt_bot {
  padding: 0px 15px 15px;
}

.m_right .mr_top .mrt_bot .coupon {
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
}

.m_right .mr_top .mrt_bot .coupon>div:first-child {
  display: flex;
  align-items: center;
  padding: 12.5px 20px;
  cursor: pointer;
  position: relative;
}

.m_right .mr_top .mrt_bot .coupon>div:first-child span {
  color: rgb(50, 66, 102);
  font-size: 18px;
  font-weight: 600;
  line-height: 1em;
  margin-left: 12.5px;
}

.m_right .mr_top .mrt_bot .coupon>div:first-child img:last-of-type {
  margin-left: auto;
  transform: rotate(180deg);
}

.m_right .mr_top .mrt_bot .coupon>div:nth-child(2) {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  padding: 5px 10px 15px;
}

.m_right .mr_top .mrt_bot .coupon.active>div:nth-child(2) {
  display: block;
  justify-items: center;
}

.m_right .mr_top .mrt_bot .coupon .coupon-inner-box {
  width: 100%;
  height: 37px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s;
  box-sizing: border-box;
  padding: 0 10px;
}

.m_right .mr_top .mrt_bot .coupon .coupon-inner-box:hover {
  background-color: #f5f6f8;
}

.m_right .mr_top .mrt_bot .coupon .coupon-inner-box span {
  margin-left: 12.5px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(50, 66, 102);
}

.m_right .mr_top .mrt_bot .coupon .coupon-inner-box .hover-arrow {
  margin-left: auto;
  width: 18px;
  opacity: 0;
  transition: opacity 0.2s;
}

.m_right .mr_top .mrt_bot .coupon .coupon-inner-box:hover .hover-arrow {
  opacity: 1;
}

.m_right .mr_top .mrt_bot .coupon>div:nth-child(2) span {
  color: rgb(50, 66, 102);
  font-size: 14px;
  font-weight: 600;
  line-height: 1em;
  margin-left: 12.5px;
}

.m_right .mr_top .mrt_bot .coupon.active>div:first-child img:last-of-type {
  transform: rotate(0deg);
}

.m_right .mr_top .mrt_bot .coupon.active>div:first-child::after {
  width: calc(100% - 20px);
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: rgb(221, 221, 221);
  left: 50%;
  transform: translateX(-50%);
  ;
}

.mr_bot {
  margin-top: 20px;
}

.mr_bot .top {
  text-align: center;
  padding: 15px;
  background-color: rgb(239, 240, 244);
  border-bottom: 1px solid #eee;
}

.mr_bot .top>span:first-child {
  color: rgb(50, 66, 102);
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
}

.mr_bot>div {
  border: 1px solid rgb(221, 221, 221);
}

.mr_bot .top .login_button {
  margin-top: 12.5px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(185, 44, 53);
  height: 45px;
  width: 100%;
  border-radius: 7px;
  cursor: pointer;
  gap: 10px;
}

.mr_bot .top .id {
  color: rgb(50, 66, 102);
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
}

.mr_bot .top .id span {
  margin: 0 2.5px;
  cursor: pointer;
}

.mr_bot .mid,
.mr_bot .bot {
  background-color: #ffffff;
  padding: 15px;
}

.mr_bot .bot {
  border-top: none;
}

.mr_bot .header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.mr_bot .header>span:first-child {
  flex: 1 1 0%;
  font-size: 14px;
  font-weight: 600;
  line-height: 1em;
  color: rgb(40, 29, 25);
}

.mr_bot .header>span:nth-child(2) {
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
  color: rgb(142, 147, 173);
}

.mr_bot .header>span:nth-child(2) b {
  color: #333;
}

.mr_bot .header .btn {
  margin-left: 15px;
  display: flex;
  border: 1px solid rgb(232, 234, 240);
  height: 22px;
  border-radius: 3px;
  overflow: hidden;
}

.mr_bot .header .btn button {
  width: 22px;
  height: 22px;
  background-color: rgb(245, 246, 247);
  cursor: pointer;
  border: none;
  padding: 0;
  justify-items: center;
}

.mr_bot .header .btn button:last-of-type {
  border-left: 1px solid rgb(232, 234, 240);
}

.mr_bot .header .btn button img {
  max-width: 16px;
}

.mr_bot .body>div {
  display: flex;
  justify-content: space-between;
}

.mr_bot .body>div {
  display: flex;
  justify-content: space-between;
}

.mr_bot .body a {
  flex: 1 1 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;
  margin-right: 15px;
  gap: 10px;
}

.mr_bot .body a:last-child {
  margin-right: 0;
}

.mr_bot .body a>div {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid rgb(229, 229, 229);
}

.mr_bot .body a>div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mr_bot .body a span {
  font-size: 13px;
  font-weight: 600;
  line-height: 1em;
}

main .main_i .m_left .ml_top {
  width: 100%;
  aspect-ratio: 957 / 452;
  position: relative;
  overflow: hidden;
}

.mr_bot .body .slide-group {
  display: none;
  justify-content: space-between;
  width: 100%;
}

.mr_bot .body .slide-group.active {
  display: flex;
}

.slider-container {
  width: 100%;
  height: 100%;
}

.slider-wrapper {
  display: flex;
  width: 400%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slider-arrow {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  cursor: pointer;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-arrow.prev {
  left: 20px;
}

.slider-arrow.next {
  right: 20px;
}

.slider-arrow img {
  width: 30px;
  height: 30px;
}

.slider-dots {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  height: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.3);
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  padding: 0;
  margin: 0 4px;
}

.dot.active {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 3px;
}

footer {
  width: 100%;
  background-color: rgb(241, 242, 246);
  ;
  margin-top: 50px;
  padding-bottom: 25px;
}

footer .fnav {
  width: 100%;
  border-top: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
}

footer .fnav .fnav_i {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px 0;
}

footer .fnav .fnav_i ul {
  display: flex;
  gap: 30px;
}

footer .fnav .fnav_i ul li a {
  color: rgb(50, 66, 102);
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
  display: block;
}

footer .fnav .fnav_i ul li:nth-child(2) a {
  font-size: 11px;
}

footer .footer_i {
  max-width: 1280px;
  margin: 0 auto;
}

footer .footer_i>img {
  margin-top: 25px;
  width: 80px;
  margin-bottom: 35px;
}

footer .footer_i h1 {
  color: rgb(40, 29, 25);
  font-size: 30px;
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 20px;
}

.footer-info-pc {
  color: rgb(50, 66, 102);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.75em;
  display: block;
}

.footer-info-mobile {
  display: none;
}

footer .footer_i .footer_bot {
  margin-top: 20px;
  border-top: 1px solid #eee;
  display: flex;
  gap: 25px;
  align-items: center;
}

footer .footer_i .footer_bot .sns {
  display: flex;
  gap: 15px;
  align-items: center;
}

footer .footer_i .footer_bot .sns img {
  width: 20px;
}

footer .footer_i .footer_bot>span {
  color: rgb(50, 66, 102);
  font-size: 11px;
  font-weight: 600;
  line-height: 1em;
}

@media (max-width: 1200px) {
  header .header_i nav {
    display: none;
  }

  main .main_i .m_right {
    width: auto;
  }

  .mobile-menu-toggle {
    display: block;
    order: 0;
  }

  header {
    height: 52px;
    padding: 0 20px;
    margin-bottom: 22px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
  }

  .header_i {
    align-items: center;
    justify-content: start;
  }

  .header_i .logo {
    display: contents;
  }

  .header_i .logo .l_img {
    margin-left: 8px;
    flex-shrink: 0;
  }

  .header_i .logo .l_img a {
    display: block;
    margin-top: 5px;
    width: 64px;
  }

  .header_i .logo .l_img a img {
    height: 28px;
    margin-left: 20px;
  }

  .header_i .info {
    border: none;
    width: auto;
    margin-left: auto;
  }

  .header_i .info .info_i {
    padding: 0;
  }

  .header_i .info .info_i .l_top .lt_text {
    display: none;
  }

  .header_i .info .info_i .l_bot {
    display: none;
  }

  .header_i .logo .l_toggle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 144px;
    height: 28px;
    background-color: rgb(245, 245, 245);
    border-radius: 3012px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 14px;
    padding: 0;
  }

  .header_i .logo .l_toggle .mall {
    width: 72px;
    color: white;
    background-color: rgb(227, 25, 55);
    height: 28px;
    border-radius: 3012px;
    line-height: 28px;
  }

  .header_i .logo .l_toggle .app {
    width: 72px;
    color: rgb(187, 187, 187);
    cursor: pointer;
    margin: 0;
  }

  .header_i .logo .l_toggle .app .text {
    position: relative;
    line-height: 28px;
  }

  .header_i .logo .l_toggle .app .text div {
    position: absolute;
    right: 10px;
    top: 6px;
  }

  .header_i .info .info_i .l_top .lt_icon {
    gap: 15px;
  }

  .header_i .info .info_i .l_top .lt_icon .i_1 img {
    width: 28px;
    height: 28px;
  }

  .header_i .info .info_i .l_top .lt_icon .i_2 img {
    width: 24px;
    height: 24px;
  }

  .header_i .info .info_i .l_top .lt_icon .i_3 img {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 800px) {

  main .main_i {
    display: flex;
    flex-direction: column;
  }

  main .main_i .m_left,
  main .main_i .m_right {
    display: contents;
  }

  .mr_bot {
    display: contents;
  }

  main .main_i .line {
    display: none;
  }

  main .main_i .m_left .ml_top {
    order: 1;
  }

  .mr_bot .top {
    order: 2;
  }

  main .main_i .m_right .mr_top {
    order: 3;
  }

  main .main_i .m_left .ml_mid {
    order: 4;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  .mr_bot .bot {
    order: 5;
    padding: 25px;
  }

  .mr_bot .mid {
    order: 6;
    padding: 25px;
  }

  main .main_i .m_left .ml_bot {
    order: 7;
    padding: 25px;
    text-align: center;
  }

  .slider-dots {
    display: none;
  }

  .slider-arrow {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.75);
  }

  .slider-arrow img {
    width: 24px;
    height: 24px;
  }

  .slider-arrow.prev {
    left: 15px;
  }

  .slider-arrow.next {
    right: 15px;
  }

  main .main_i .m_left .ml_top {
    aspect-ratio: 23 / 13;
  }

  main .main_i .m_right .mr_top .mrt_top a .img1 {
    width: 42px;
    height: 42px;
  }

  main .main_i .m_right .mr_top .mrt_top a .img2 {
    width: 40px;
    height: 40px;
  }

  main .main_i .m_right .mr_top .mrt_top a h2 {
    font-size: 20px;
  }

  main .main_i .m_right .mr_top .mrt_top a span {
    font-size: 13px;
  }

  main .main_i .ml_mid {
    gap: 10px;
  }

  main .main_i .ml_mid .itembox .item figure img {
    max-width: 40px;
  }

  main .main_i .ml_mid .itembox .item p {
    font-size: 13px;
  }


  main .main_i .m_left .ml_bot .event {
    flex-direction: column;
    gap: 30px;
    margin-top: 35px;
  }

  main .main_i .m_left .ml_bot .event .box figure img {
    max-height: 348px;
  }


  footer {
    padding-bottom: 5px;
  }

  footer .fnav .fnav_i {
    padding: 20px;
  }

  footer .footer_i {
    padding: 20px;
  }

  footer .footer_i>img {
    width: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  footer .footer_i h1 {
    font-size: 26px;
  }

  .footer-info-pc {
    display: none;
  }

  .footer-info-mobile {
    display: block;
    color: rgb(50, 66, 102);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.75em;
  }

  footer .footer_i .footer_bot {
    align-items: start;
    flex-direction: column;
  }
}