@import url(./reset.css);
@import url(./font.css);

header {
  width: 100%;
  height: 80px;
  padding: 0 16px;
}

header .header_i {
  max-width: 1448px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

header .header_i .logo {
  max-width: 225px;
  height: 50px;
}

header .header_i nav ul {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

header .header_i nav ul li a {
  font-family: "nanum_bd";
  font-weight: 600;
}

header .header_i .ham {
  width: 40px;
  height: 32px;
  cursor: pointer;
  display: none;
}

header .header_i .ham .ham_i {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header .header_i .ham .ham_i .line {
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 10px;
}

aside {
  width: 100%;
  position: fixed;
  top: 50vh;
  left: 93%;
  z-index: 999;
  transform: translateY(-30%);
}

aside .sidebox {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

aside .sidebox .box a {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

aside .sidebox .box span {
  color: #fff;
  border-radius: 5px;
  padding: 0 3px;
  background-color: #748ADE;
}

.banner {
  width: 100%;
  height: 600px;
  background-image: url(../img/sub/banner.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 150px;
}

.banner .banner_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  display: grid;
  grid-template: 1fr 100px / 1fr;
  justify-content: center;
  align-items: center;
}

.banner .banner_bg .banner_text {
  text-align: center;
}

.banner .banner_bg .banner_text h1 {
  margin-bottom: 25px;
}

.banner .banner_bg .banner_i {
  width: 100%;
  height: 100%;
  border-top: 1px solid #fff;
}

.banner .banner_bg .banner_i .banner_nav {
  max-width: 1448px;
  height: 100%;
  margin: auto;
}

.banner .banner_bg .banner_i .banner_nav ul {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
  gap: 66px;
}

.banner .banner_bg .banner_i .banner_nav ul li {
  align-content: center;
  text-align: center;
  font-size: 24px;
}

.banner .banner_bg .banner_i .banner_nav ul li:first-of-type {
  font-size: 26px;
  font-weight: 600;
  border-top: 3px solid #fff;
}

.intro {
  width: 100%;
  margin-bottom: 150px;
}

.intro .intro_i {
  max-width: 1448px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.intro .intro_i .intro_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.intro .intro_i .intro_right h4 {
  margin: 0 auto;
  margin-top: 20px;
  width: fit-content;
  height: fit-content;
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
}

.intro .intro_i .intro_right p {
  padding-top: 30px;
  line-height: 150%;
}

.intro .intro_i .intro_right p span {
  font-weight: 600;
}

main {
  width: 100%;
  margin-bottom: 150px;
}

main .main_i {
  max-width: 1448px;
  margin: auto;
}

main .main_i .fracture {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

main .main_i .fracture .frac_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main .main_i .fracture .frac_text p span {
  font-weight: 600;
}

main .main_i .fracture .frac_xray {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
  margin-bottom: 150px;
}

main .main_i .fracture .frac_xray .xray {
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
}

main .main_i .fracture .frac_xray .xray h3 {
  background-color: #ededed;
  height: 100px;
  text-align: center;
  align-content: center;
}

main .main_i .joint {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

main .main_i .joint .joint_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main .main_i .joint .joint_text p span {
  font-weight: 600;
}


main .main_i .joint .joint_xray {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}

main .main_i .joint .joint_xray .xray {
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
}

main .main_i .joint .joint_xray .xray h3 {
  background-color: #ededed;
  height: 100px;
  text-align: center;
  align-content: center;
}

main .main_i .joint .vid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}

main .main_i .joint .vid .vid_left {
  justify-self: end;
}

footer {
  width: 100%;
  height: 374px;
  background-color: #3F4448;
  padding: 16px;
}

footer .footer_i {
  max-width: 1448px;
  height: 100%;
  margin: auto;
  align-content: center;
}

footer .footer_i .f_up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
}

footer .footer_i .f_up .f_icon {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

footer .footer_i .f_up .f_icon figure {
  padding: 19px;
}

footer .footer_i .f_down {
  padding-top: 15px;
  color: #fff;
}

footer .footer_i .f_down .fnv {
  margin-bottom: 15px;
}

footer .footer_i .f_down .fnv ul {
  display: flex;
  flex-direction: row;
  gap: 45px;
}

footer .footer_i .f_down .fnv ul li {
  font-weight: 700;
}

footer .footer_i .f_down .f_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer .footer_i .f_down .f_text p {
  font-weight: 700;
  font-family: "nanum_lt";
}

footer .footer_i .f_down .f_text span {
  font-size: 16px;
  font-weight: 200;
}

footer .footer_i .f_down .f_text>span {
  font-size: 14px;
  font-family: "nanum_lt";
}

.mficon {
  width: 100%;
  height: 74px;
  background-color: #253676;
  display: none;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.mficon figure {
  width: 100%;
  height: 50%;
  justify-items: center;
  align-content: center;
  border-right: 2px solid #fff;
}